.jbEUYkupBc{
    display: none;
    padding: 0 15px;
    @media (max-width: 1200px) {
        display: block !important;
    }
    .RrDLiBjSbx {
        cursor: pointer;
        width: 20px;
    }
}
.bGaBlEXiAu{
    .qHSbPBzIjq{
        z-index: 1001;
        display: none;
        position: fixed;
        width: 320px;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255,255,255,0.95);
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
        animation: cartAnimation .2s;
        @media (max-width: 1200px) {
            display: block !important;
        }
        .MvaqtyPOsz{
            padding: 30px;
            .jwenSjGihb{
                text-align: center;
                text-transform: uppercase;
                .uRTtTXIzCl{
                    font-family: "Lora", sans-serif;
                    text-transform: uppercase;
                    line-height: 1.2;
                    letter-spacing: .05em;
                    font-size: 1.125em;
                }
                .OVPCXEkKoO{
                    height: 3px;
                    display: block;
                    background-color: rgba(0,0,0,0.1);
                    margin: 1em auto 1em;
                    width: 100%;
                    max-width: 30px;
                }
            }
            .MllpaMxlUv{
                margin-bottom: 1.3em;
            }
        }
    }
    .zIxhBGnKCW{
        z-index: 1000;
        cursor: pointer;
        position: fixed;
        inset: 0 0 0 0;
        opacity: 0.6;
        background: #0b0b0b;
        transition: opacity .25s;
        overflow: hidden;
    }
    .nLbOqCsOnd {
        z-index: 1001 !important;
        cursor: pointer;
        position: fixed;
        z-index: 100;
        top: -5px;
        right: 0;
        .LzEmxkKLSb{
            width: 40px;
            height: 40px;
            animation: closeIconAnimation .2s;
            &:hover {
                filter: brightness(0);
            }
        }
    }
}