@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Lora";
  src: url("./Lora-Regular.ttf");
}

body {
  font-family: "Open Sans", sans-serif;
}
