.OsPwnbCmch {
    background-color: rgb(51, 51, 51);
    color: #fff;
    .IbjSsfImcO {
        display: flex;
        background-color: #252525;
        padding: 10px 0 15px;
        color: rgba(255,255,255,0.5);
        .GOoPlZeBbT {
            display: flex;
            justify-content: center;
            font-size: .9em;
            padding: 0 15px;
            margin-top: -3px;
            .StIePocWXN{
                display: inline-block;
                max-width: 100%;
                height: auto;
                width: 20px;
                vertical-align: sub;
                margin: 0 3px;
            }
        }
    }
    .lZhzRlAVIC {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 700px) {
            padding: 0 20px;
        }
        .fJdhvutuUF {
            max-width: 25%;
            flex-basis: 25%;
            padding: 0 15px 30px;
            @media (max-width: 1024px) {
                max-width: 50%;
                flex-basis: 50%;
            }
            @media (max-width: 700px) {
                max-width: 100%;
                flex-basis: 100%;
            }
            .mHOpmpxdoC {
                display: flex;
                flex-direction: column;
                text-align: left;
                .QrOkRrzFIn{
                    margin-bottom: .8em;
                }
                .rXBRtnAddg {
                    font-family: "Lora", sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 1.2em;
                    font-size: 1em;
                }
                .LaIOTcLyhI {
                    font-size: 15px;
                    margin-bottom: 0.8em;
                }
                .upwOWUKjdK {
                    display: flex;
                    .YlIyVSBsTD img{
                        width: 15px;
                        filter: brightness(0) invert(1);
                    }
                    .bFkIOMOiCh {
                        font-size: 15px;
                        padding-left: 1em;
                        word-break: break-all;
                    }
                }
                .TNKrPIszOL {
                    list-style: none;
                    .GXgpVlUboC {
                        padding: 6px 0;
                        .sXXDhkTjoF {
                            text-decoration: none;
                            color: #fff;
                            font-size: 15px;
                        }
                        &.MGSIHCxtMC .sXXDhkTjoF, &:hover .sXXDhkTjoF{
                            font-weight: 700;
                            color: #e32124;
                        }
                    }
                }
            }
        }
    }
}