.hCdNSHZRTk {
    z-index: 30;
    position: relative;
    transition: background-color .3s, opacity .3s;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
    .drHkFhMqpm {
        height: 40px;
        border-bottom: 1px solid #dedede;
        @media (max-width: 1200px) {
            display: none;
        }
        .JvczItqJtI{
            padding: 0 15px;
            .zqQSZmLQPg, .nzwhZcvFWA {
                font-size: 14px !important;
            }
            .nzwhZcvFWA {
                color: rgba(102, 102, 102, 0.85);
                vertical-align: top;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }        
    }
    .BRTqaxuQEe {
        height: 100px;
        background-color: #fff;
        transition: all .2s;
        .HYPKWLzIJG{
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
            .LQXKHZoEqy{
                display: none;
                padding: 0 15px;
                img{
                    cursor: pointer;
                    width: 20px;
                }
                &.yUGYijuxHY{
                    padding: unset !important;
                }
            }
            .IUTWXeZBzv {
                margin-right: 30px;
                img {
                    vertical-align: bottom;
                    width: 180px;
                }
            }
            .anpeTxxJqW {
                flex-grow: 1;
                .YtDjSBWBqz:first-child {
                    margin-left: 0 !important;
                }
                .YtDjSBWBqz {
                    display: inline-block;
                    cursor: pointer;
                    position: relative;
                    margin: 0 15px;
                    .QwXBYUflnN {
                        display: flex;
                        flex-direction: column;
                        padding: 0 15px;
                        font-size: .9em;
                        line-height: 16px;
                        img {
                            width: 36px;
                            height: auto;
                            padding-bottom: 10px;
                            margin: 0 auto;
                        }
                    }
                    &.LHdYzyimnC,
                    &:hover {
                        font-weight: 700;
                        color: #e32124;
                    }
                    &:hover > .ESgyFRursg{
                        display: block;
                    }
                }
            }
            .ESgyFRursg{
                display: none;
                position: absolute;
                min-width: 260px;
                background-color: #fff;
                box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
                border: 1px solid #ddd;
                padding: 20px 0 20px;
                opacity: 1;
                .zalfuqROxR{
                    .QwXBYUflnN {
                        padding: 10px 20px;
                        font-size: 90%;
                        line-height: 1.3;
                        color: rgba(102,102,102,0.85);
                        font-weight: 300;
                    }
                    &:hover {
                        box-shadow: inset 0 0 0 100px rgb(0 0 0 / 5%);
                    }
                }
            }
            .VgtrukovQK {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                &>div.pcvGDbNZiN {
                    height: 100px;
                }
                .pcvGDbNZiN {
                    border-left: 1px solid rgba(0, 0, 0, 0.1);
                }
                .THdIudfPKj {
                    cursor: pointer;
                    margin: 0 15px;
                    &:first-child{
                        margin-left: 0 !important;
                    }
                    &.qMdxUAjtee {
                        position: relative;
                        font-size: .9em;
                        margin-right: 0px !important;
                        .pQDTolpXBK {
                            line-height: 16px;
                            padding: 0 15px;
                            &:hover{
                                color: currentColor !important;
                            }
                            .GNEcpjzyzm, img{
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .GNEcpjzyzm{
                                padding-right: 3.5px;
                            }
                            img {
                                width: 20px;
                                margin-left: 5px;
                            }
                        }
                        &:hover .fEHXKFuHKl{
                            display: block;
                        }
                        .fEHXKFuHKl{
                            display: none;
                            position: absolute;
                            right: -15px;
                            min-width: 260px;
                            padding: 20px 0 20px;
                            background-color: #fff;
                            box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
                            border: 1px solid #ddd;
                            color: #777;
                            .dkmMsfIvBq{
                                font-size: 14px !important;
                                padding: 0 20px 10px;
                                opacity: 1;
                            }
                        }
                    }
                }
                
            }
        }
    }
    .gpintFuWgT{
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
        opacity: .9;
    }
    .RBDSpJPOdl{
        position: fixed;
        inset: 0 0 0 0;
        z-index: 1000;
        opacity: 0.6;
        background: #0b0b0b;
        transition: opacity .25s;
        overflow: hidden;
        cursor: pointer;
    }
    .LzaQxriKwQ{
        z-index: 1001 !important;
        cursor: pointer;
        position: fixed;
        z-index: 100;
        top: -5px;
        right: 0;
        .GQDzUHyXlB{
            width: 40px;
            height: 40px;
            animation: closeIconAnimation .2s;
            &:hover {
                filter: brightness(0) invert(1);
            }
        }
       
    }
    @media (max-width: 1200px) {
        .BRTqaxuQEe{
            height: 60px !important;
        }
        .BRTqaxuQEe.gpintFuWgT{
            height: 100px !important;
        }
        .HYPKWLzIJG {
            .VgtrukovQK{
                display: none !important;
            }
            .LQXKHZoEqy, .anpeTxxJqW.JexEIXtxov{
                display: block !important;
            }
            .anpeTxxJqW{
                display: none;
                flex-direction: column;
                position: absolute;
                background-color: #fff;
                z-index: 1001;
                left: 0;
                top: 0;
                height: 100vh;
                width: 320px;
                padding: 30px 0;
                transition: all .5s;
                animation: menuLeftAnimation .5s forwards;
                .YtDjSBWBqz {
                    display: block !important;
                    padding-left: 20px !important;
                    padding-top: 15px !important;
                    padding-bottom: 15px !important;
                    margin: 0 !important;
                    position: relative;
                    &:hover .QwXBYUflnN span{
                        color: #000;
                    }
                    .QwXBYUflnN {
                        text-align: center;
                        text-transform: uppercase;
                        font-size: .9em;
                        span{
                            font-size: .9em;
                            color: #666666D9;
                            font-weight: bolder;
                        }
                    }
                    & > img{
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: 10px;
                        top: 30px;
                        transition: all .5s;
                    }
                }
                .YtDjSBWBqz + .YtDjSBWBqz{
                    border-top: 1px solid #ececec;
                }
                .YtDjSBWBqz.LHdYzyimnC{
                    background-color: rgba(0,0,0,0.05);
                    padding-left: 0 !important;
                    .ESgyFRursg{
                        display: block !important;
                    }
                    .LQXKHZoEqy{
                        transform: rotate(-180deg)
                    }
                }
                .YtDjSBWBqz .ESgyFRursg{
                    display: none !important;
                    position: static;
                    background-color: unset;
                    padding: unset;
                    box-shadow: none;
                    border: none;
                    padding-bottom: 30px;
                    opacity: .8;
                    .zalfuqROxR{
                        display: flex;
                        padding-left: 0.5em;
                        opacity: .8;
                        &:hover {
                            opacity: 1;
                            box-shadow: unset !important;
                        }
                        .QwXBYUflnN {
                            padding-left: 20px;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            line-height: 1.6;
                            font-size: .9em;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
} 
@keyframes menuLeftAnimation {
    from {transform: translateX(-320px);}
    to {transform: translateX(0);}
}  
@keyframes closeIconAnimation {
    from {transform: translateY(30px);}
    to {transform: translateY(0);}
}  