.SfjdvLeEVc {
    position: relative;
    padding: 0 9.8px 19.6px;
    max-width: 20%;
    flex-basis: 20%;
    @media (max-width: 1280px) {
        max-width: 33.33%;
        flex-basis: 33.33%;
    }
    .lBAxYrpfjt {
        margin-top: 15px;
        transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
        &:hover {
            box-shadow: 0 3px 6px -4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
        }
        .DnBoIJuupY {
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0 0 0;
            position: absolute;
            left: 0;
            top: 0;
            color: #fff;
            background-color: #000;
            border-radius: 50%;
            height: 2.8em;
            width: 2.8em;
        }
        .NjOaAYokUY {
            box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
            .yuLyapYuml {
                position: relative;
                padding-top: 75%;
                overflow: hidden;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    object-fit: cover;
                    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .albeCSDVsS {
                padding: 15px 10px 0px 10px;
                text-align: center;
                .XXBFOLEOTd {
                    cursor: pointer;
                    font-size: .9em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 1.3em;
                    margin-bottom: 0.8em;
                    font-weight: 400;
                    line-height: 1.3;
                    margin-top: 0.1em;
                    &:hover {
                        color: #e32124;
                    }
                }
                .oSeDDXoauN {
                    font-size: .9em;
                    height: 1.3em;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    line-height: 120%;
                    margin-bottom: 0.8em;
                    del {
                        font-weight: 300;
                    }
                    ins {
                        font-weight: bolder;
                        text-decoration: none;
                    }
                }
                .jadaCkzyvH {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    padding-bottom: 20px;
                    .DvBUPDqxun + .DvBUPDqxun {
                        margin-left: 5px;
                    }
                    .DvBUPDqxun {
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        border-radius: 20px;
                        display: block;
                        border: 2px solid transparent;
                        position: relative;
                        &:hover .NqUaeMLTuW {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}
.qFrOmPmAPB {
    .GMEliOrZJA {
        text-align: center;
        justify-content: center;
        .zyfltpEFsT {
            text-align: center;
            position: relative;
            padding: 0 15px 30px;
            .KNxqRBUeOK {
                margin: 0px 0px -10px 0px;
                padding: 10px 0px 0px 0px;
                .NZnEBNDEjt {
                    text-transform: uppercase;
                    font-size: 1.7em;
                    line-height: 1.3;
                    width: 100%;
                    margin-top: 0;
                    margin-bottom: 0.5em;
                }
                .WuQaTowAis {
                    display: block;
                    width: 100%;
                    max-width: 83px;
                    height: 1px;
                    background-color: rgb(0, 0, 0);
                    text-align: center;
                    margin: 1em auto;
                }
            }
        }
    }
    .ymFGhSoODA {
        padding: 0 15px 30px;
        .MfnjEGvPmu {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .wZqhjjdIIW {
            background-color: #e32124;
            color: #fff;
            margin-bottom: 1em;
        }
    }
}