.MilyFxLPqI {
    padding: 20px 0 0 0;
    .GMEliOrZJA {
        padding: 0 !important;
        .KNxqRBUeOK {
            padding: unset !important;
            margin: unset !important;
        }
    }
}