.qkAssoEQJP {
    cursor: pointer;
    padding: 0 15px 30px;
    .IjZOCtpZjH {
        .TWWWJPDjuu {
            padding-top: 60%;
            position: relative;
            img {
                right: 0;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                top: 0;
                position: absolute;
                object-fit: cover;
            }
        }
        .EqWrwPoAUs {
            padding-top: 0.7em;
            padding-bottom: 1.4em;
            position: relative;
            width: 100%;
            font-size: .9em;
            &:hover .jpmwEVUjcr,
            &:hover .pGSEIypcIK {
                color: #e32124;
            }
            .wVaNnfMtrU {
                font-family: 'Lora', sans-serif;
                pointer-events: none;
                line-height: 1.6;
                margin-bottom: 5px;
                font-size: 1.15em;
            }
            .jpmwEVUjcr {
                opacity: .8;
                font-size: .8em;
            }
            .IuCdQzWKSZ {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                height: 2px;
                display: block;
                background-color: rgba(0, 0, 0, 0.1);
                width: 100%;
                max-width: 30px;
            }
            .pGSEIypcIK {
                margin-top: 0.1em;
                margin-bottom: 0.1em;
            }
        }
    }
}

.KnXDKftujj .qFrOmPmAPB{
    padding: 50px 0px 0px 0px;
    .GMEliOrZJA {
        text-align: center;
        justify-content: center;
        margin: auto;
        padding: 0 !important;
        .zyfltpEFsT {
            text-align: center;
            .KNxqRBUeOK {
                margin: 0px 0px 46px 0px;
                padding: unset !important;
                .NZnEBNDEjt {
                    text-transform: uppercase;
                    font-size: 1.7em;
                    line-height: 1.3;
                    width: 100%;
                    margin-top: 0;
                    margin-bottom: 0.5em;
                }
                .WuQaTowAisr {
                    display: block;
                    width: 100%;
                    max-width: 83px;
                    height: 1px;
                    background-color: rgb(0, 0, 0);
                    text-align: center;
                    margin: 1em auto;
                }
            }
        }
    }
    .ymFGhSoODA {
        padding: 0 15px 30px;
        .vssWVIKAyL{
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}