.jOiYILkjZY {
    flex-wrap: wrap !important;
    .GyiFaOhMmT {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0 9.8px 19.6px;
        @media (max-width: 700px) {
            flex-basis: 100%;
            max-width: 100%;
        }
        .EZxjQshWfF{
            position: relative;
            overflow: hidden;
            img {
                max-width: 100%;
                height: auto;
                display: inline-block;
                vertical-align: middle;
                transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
       
    }
}