.eUzKgZjUpU{
    .KNxqRBUeOK{
        padding: 50px 0 0 0 !important;
    }
    .DlstqYgvUK {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0.3em 0 0.2em;
        line-height: 1.6;
        span {
            background: #e32124;
            border-radius: 99px;
            color: #fff;
            padding: 8px 20px;
            margin: 0 0.05em 0.2em;
            font-weight: bolder;
            text-align: center;
            line-height: 80%;
            strong {
                font-size: 30%;
                opacity: .7;
                text-transform: uppercase;
                display: block;
            }
        }
    }
}