.eUzKgZjUpU {
    .KNxqRBUeOK {
        padding: 45px 0 0 0 !important;
    }
    .DlstqYgvUK {
        position: relative;
        border-spacing: 5px;
        margin: 0.3em auto 0.2em;
        display: table;
        table-layout: fixed;
        width: 38% !important;
        @media (max-width: 700px) {
            display: none;
        }
        span {
            background: #e32124 !important;
            border-radius: 99px !important;
            color: #fff !important;
            padding: 8px;
            display: table-cell;
            font-weight: bolder;
            text-align: center;
            line-height: 80%;
            margin: 0 0.05em 0.2em;
            strong {
                font-size: 30%;
                opacity: .7;
                text-transform: uppercase;
                display: block;
                font-weight: bolder;
            }
        }
    }
}