.supper-sale-time {
    display: table;
    width: 38%;
    height: 100%;
    border-spacing: 5px;
    margin: 0.3em auto 0.2em;
    line-height: 1.6;

    span {
        background: #e32124;
        border-radius: 99px;
        color: #fff;
        padding: 8px;
        margin: 0 0.05em 0.2em;
        display: table-cell;
        font-weight: bolder;
        text-align: center;
        line-height: 80%;

        strong {
            font-size: 30%;
            opacity: .7;
            text-transform: uppercase;
            display: block;
        }
    }
}