.product-similar {
    border-top: 1px solid #ececec;
    padding-top: 2em;
    padding-bottom: 2em;
    .label{
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 1.2;
        max-width: 1080px;
        width: 100%;
        font-size: 1.25em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        text-align: center;
    }
    .item-wrap {
        flex-basis: unset;
        max-width: unset;
        .item {
            box-shadow: none;
            &-content {
                box-shadow: none;
                &-image {
                    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
                    &:hover {
                        box-shadow: 0 3px 6px -4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
                    }
                }
            }
        }


    }
}