.pVbvpUFUGI {
    border-top: 1px solid #ececec;
    padding-top: 2em;
    padding-bottom: 2em;
    .vjRIqYnoPt{
        font-family: 'Lora', sans-serif;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 1.2;
        font-size: 1.25em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .05em;
    }
    .SfjdvLeEVc {
        flex-basis: unset;
        max-width: unset;
        .lBAxYrpfjt {
            box-shadow: none;
            .NjOaAYokUY {
                box-shadow: none;
                .yuLyapYuml {
                    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
                    padding-top: unset !important;
                    img{
                        position: unset !important;
                    }
                    &:hover {
                        box-shadow: 0 3px 6px -4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
                    }
                }
            }
        }
    }
    .ymFGhSoODA{
        padding: unset;
        margin-left: -10px;
        margin-right: -10px;
        .DnBoIJuupY{ 
            margin: 30px 0 0 3px; 
        }
        .albeCSDVsS{
            padding: 15px !important;
        }
    }
}