.lnZMPdYpcW{
    flex-grow: 1;
    padding: 10px 30px 30px 15px;
    border-right: 1px solid #ececec;
    flex: 1;
    @media (max-width: 1200px) {
        flex-basis: 100%;
        max-width: 100%;
    }
    .dPjxxzvFiM{
        font-size: .85em;
        margin: 0 0 0.5em;
        .ZzLVXiWXvN {
            text-transform: uppercase;
            display: inline-block;
            color: rgba(102,102,102,0.7);
        }
        .MnTtxpwjXm {
            margin: 0 0.55em;
            font-weight: 300;
            opacity: .35;
        }
    }
    .bWtGHKlEBq{
        color: #000000;
        font-weight: bolder;
        font-size: 1.7em;
        line-height: 1.3;
        margin-bottom: 0.5em;
        font-family: "Lora", sans-serif;
    }
    .WYnfLEgSRO{
        height: 3px;
        display: block;
        background-color: rgba(0,0,0,0.1);
        margin: 1em 0 1em;
        width: 100%;
        max-width: 30px;
    }
    .QwnmpUaVrG{
        margin-bottom: 1em;
        .azTAgOJpfF{
            height: 1.3em;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 120%;
            font-size: 1.5em;
            margin: 0.5em 0 .8em 0;
            div{
                display: inline-block;
            }
            .LbKkidejMq{
                opacity: .6;
                font-weight: normal;
                margin-right: 0.55em;
                text-decoration: line-through;
                white-space: nowrap;
            }
            .SLlMzdnKri{
                font-weight: bold;
            }
            .hNfrImnhAh{
                font-size: .75em;
                vertical-align: top;
                display: inline-block;
                margin-top: 0.05em;
            }
        }
    }
    .YHBRYIdvCS{
        padding-bottom: 1.9em;
        text-rendering: optimizeSpeed;
    }
    .ZmrSsWBUxt{
        margin-bottom: 1.3em;
        .ZvxOnaABoO{
            display: flex;
            width: 100%;
            border-color: #ececec;
            border-spacing: 0;
            color: #666;
            font-size: .9em;
            margin-bottom: 1.2em;
            &:first-child{
                margin-bottom: .5em !important;
            }
            .SZajlHSbZb{
                flex-basis: 19.8%;
                max-width: 19.8%;
                color: #222;
                font-weight: bold;
                font-size: .9em;
                margin: 0.5em 0;
            }
            .bNFTlhgoza{
                cursor: pointer;
                width: auto;
                min-width: 30px;
                height: 30px;
                text-align: center;
                vertical-align: middle;
                border-radius: 2px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                box-shadow: 0 0 0 1px rgb(0 0 0 / 30%);
                padding: 2px;
                font-size: 16px;
                margin: 4px 8px 4px 0;
                transition: all .2s ease;
                span{
                    padding: 0 5px;
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                &:hover{
                    box-shadow: 0 0 0 3px rgb(0 0 0 / 10%);
                }
            }
        }
        .ohpLRlpXXt{
            padding: 0.5em 0;
            .jJeKJaOxQo{
                margin-bottom: 1em;
                opacity: 1;
                display: inline-flex;
                margin-right: 1em;
                white-space: nowrap;
                vertical-align: top;
                .boAxyRhDbp, .oTxPZkFzHr{
                    cursor: pointer;
                    background-color: #f9f9f9;
                    color: #666;
                    border: 1px solid #ddd;
                    padding: 0 0.5em;
                    font-size: .97em;
                    letter-spacing: .03em;
                    min-height: 2.5em;
                    &:hover {
                        box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
                    }
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                input.WYMcfZRHMg{
                    max-width: 2.5em;
                    width: 2.5em;
                    text-align: center;
                    font-size: 1em;
                    padding: 0 0.75em;
                    height: 2.507em;
                    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
                    color: #333;
                    outline: none;
                    opacity: .9;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    border-left: none;
                    border-right: none;
                }
            }
            .NHvsGDTzhM{
                text-transform: uppercase;
                background-color: #e32124;
                margin-bottom: 1em;
                opacity: .6;
            }
        }
    }
    .WWMIRbUFxq{
        margin-left: -10px;
        margin-right: -10px;
       .UnGcLBjKNH{
            display: flex;
            .WXQLrSFULE{
                margin-bottom: 1.3em;
            }
            .zNUjRKJKwT{
                padding: 0 9.8px 19.6px;
                .TbVyLYgolY{
                    display: flex;
                    flex-wrap: wrap;
                    .xjBoNHgApk{
                        padding: 0 2px 3px;
                        max-width: 33.33333%;
                        flex-basis: 33.33333%;
                        display: inline-block;
                        @media (max-width: 700px) {
                            max-width: 50%;
                            flex-basis: 50%;
                        }
                        img{
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        .DdRLUWorda{
            padding: 0 9.8px 19.6px;
            .iqXXEYaKNE{
                margin-bottom: 1.3em;
            }
            .QEuXZVTaQU{
                background-color: #e32124;
                margin-bottom: 1em;
            }
        }
    }
    .CihwvbgQfZ{
        font-size: .8em;
        margin-bottom: 1em;
        .jUAQNbGsGQ, .TgfHVJzLqK{
            display: block;
            border-top: 1px dotted #ddd;
            padding: 5px 0;
        }
    }
}