.BjiwvBwbMY {
    padding: 30px 0;
    border-top: 1px solid #ececec;
    .OUVCTptezU{
        display: flex;
        align-items: center;
        @media (max-width: 700px) {
            flex-direction: column;
        }
        .WgEiSIYEMI{
            cursor: pointer;
            border: 1px solid #ddd;
            background-color: #eee;
            margin-right: 2px;
            display: inline-flex;
            font-size: .8em;
            text-transform: uppercase;
            padding: 0.5em 2.75em;
            line-height: 2.5em;
            letter-spacing: .02em;
            @media (max-width: 700px) {
                width: 100%;
            }
            &:hover{
                opacity: .8;
                background-color: #000;
                color: #fff;
            }
        }
        .WgEiSIYEMI.MWfiRyTvxc{
            background-color: #000;
            color: #fff;
        }
    }
    .FcfrJUvsja{
        padding-top: 1em;
        .KoEhwPVRQM{
            display: none;
            &.MWfiRyTvxc{
                display: block;
            }
            .wIpHznnjhK{
                display: flex;
                border-bottom: 1px solid #ececec;
                padding: 0.45em 0;
                align-items: center;
                .SXZyMKGRGC{
                    flex-basis: 38.5%;
                    max-width: 38.5%;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: .9em;
                    letter-spacing: .05em;
                }
                .immUkzsadZ{
                    color: #666;
                    padding: 0.5em;
                    text-align: left;
                    line-height: 1.3;
                    font-size: .9em;
                }
            }
            .AlPrOKHHpM{
                margin-left: -15px;
                margin-right: -15px;
                h3{
                    font-size: 1.25em;
                    font-family: "Lora", sans-serif;
                }
                .IiVUvqsTIE{
                    padding: 0 15px 30px;
                    .hHtjzVVAQm{
                        margin-bottom: 1.3em;
                    }
                }
                .vPUjoZxCjH{
                    padding: 0 15px 30px;
                    .eNQlEigFBO{
                        .uqSLWicrFA{
                            padding: 15px 30px 30px;
                            border: 2px solid #e32124;
                            .OlLvUOwTHn{
                                .MsfxKoZQMC {
                                    margin-bottom: 0.4em;
                                    .fsWmuHVTxO:first-child{
                                        margin-left: -2.5px;
                                        padding-right: 0.5em;
                                    }
                                    .fsWmuHVTxO{
                                        display: inline-block;
                                        overflow: hidden;
                                        cursor: pointer;
                                        &:hover .YwJjDqcRuv{
                                            filter: invert(50%) sepia(50%) saturate(626%) hue-rotate(330deg) brightness(92%) contrast(86%);
                                        }
                                        .YwJjDqcRuv{
                                            width: 16px;
                                            filter: brightness(0) invert(85%);
                                        }
                                    }
                                    .fsWmuHVTxO + .fsWmuHVTxO{
                                        padding: 0 0.5em 0 0.6em;
                                        border-left: 1px solid #ececec;
                                    }
                                }
                            }
                            .eJGdJPTaKH{
                                margin-bottom: .9em;
                            }
                            input{
                                margin-bottom: 1em;
                            }
                            .dxbsuqebvu, .GIiytsJUSk{
                                display: inline-block;
                                width: 50%;
                                padding: 0 15px;
                                margin-bottom: 0.5em;
                                @media (max-width: 700px) {
                                    width: 100%;
                                    padding: 0;
                                }
                            }
                            .dxbsuqebvu{
                                padding-left: 0;
                            }
                            .GIiytsJUSk{
                                padding-right: 0;
                            }
                            .wlqWeiVFkk{
                                margin-bottom: 1.8em;
                                .IRupnxYoCn{
                                    background-color: #e32124;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}