.BjiwvBwbMY {
    padding: 30px 0;
    border-top: 1px solid #ececec;
    .OUVCTptezU{
        display: flex;
        align-items: center;
        @media (max-width: 700px) {
            flex-direction: column;
        }
        .WgEiSIYEMI{
            cursor: pointer;
            border: 1px solid #ddd;
            background-color: #eee;
            margin-right: 2px;
            display: inline-flex;
            font-size: .8em;
            text-transform: uppercase;
            padding: 0.5em 2.75em;
            line-height: 2.5em;
            letter-spacing: .02em;
            @media (max-width: 700px) {
                width: 100%;
            }
            &:hover{
                opacity: .8;
                background-color: #000;
                color: #fff;
            }
        }
        .WgEiSIYEMI.MWfiRyTvxc{
            background-color: #000;
            color: #fff;
        }
    }
    .FcfrJUvsja{
        padding-top: 1em;
        .KoEhwPVRQM{
            display: none;
            margin-bottom: 1em;
            .wIpHznnjhK{
                display: flex;
                border-bottom: 1px solid #ececec;
                line-height: 1.05;
                letter-spacing: .05em;
                padding: 0.5em;
                align-items: center;
                .SXZyMKGRGC{
                    flex-basis: 40%;
                    max-width: 40%;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: .9em;
                }
                .immUkzsadZ{
                    color: #666;
                    padding: 0.5em;
                    text-align: left;
                    line-height: 1.3;
                    font-size: .9em;
                }
            }
            .AlPrOKHHpM{
                .IiVUvqsTIE{
                    padding: 0 15px 30px 0px;
                    .hHtjzVVAQm{
                        margin-bottom: 1.3em;
                    }
                }
                .vPUjoZxCjH{
                    padding: 0 15px 30px 0px;
                    .uqSLWicrFA{
                        border: 2px solid #e32124;
                        padding: 15px 30px 30px;
                        h3{
                            font-family: "Lora", sans-serif;
                        }
                        .eJGdJPTaKH{
                            margin-bottom: .5em;
                        }
                        input{
                            margin-bottom: 1em;
                        }
                    }
                    .OlLvUOwTHn{
                        .MsfxKoZQMC {
                            margin-bottom: 0.5em;
                            .fsWmuHVTxO{
                                display: inline-block;
                                .YwJjDqcRuv{
                                    width: 16px;
                                    filter: brightness(0) invert(85%);
                                }
                            }
                            .fsWmuHVTxO + .fsWmuHVTxO{
                                padding-left: .3em;
                                margin-left: 0.3em;
                                border-left: 1px solid #ececec;
                            }
                        }
                    }
                    .dxbsuqebvu, .GIiytsJUSk{
                        display: inline-block;
                        width: 50%;
                        padding: 0 15px;
                        margin-bottom: 0.5em;
                    }
                    .dxbsuqebvu{
                        padding-left: 0;
                    }
                    .GIiytsJUSk{
                        padding-right: 0;
                    }
                    .wlqWeiVFkk{
                        margin-bottom: 1.3em;
                        .IRupnxYoCn{
                            background-color: #e32124;
                        }
                    }
                }
            }
        }
        .KoEhwPVRQM.MWfiRyTvxc{
            display: block;
        }
    }
}