.sidebar {
    padding-left: 30px;
    padding-right: 15px;
    flex-basis: 25%;
    max-width: 25%;
    .sidebar-item {
        background-color: #fff;
        padding: 20px 0 0 0;
        margin-bottom: 1.5em;
        border: 1px solid #eee;
        .sidebar-item-inner{
            padding-left: 30px;
            padding-right: 30px;
            .policy-wrap{
                flex-direction: column;
                .policy{
                    flex-basis: 100%;
                    max-width: 100%;
                    border-bottom: 1px solid #eee;
                    padding: 15px 0;
                    .policy-inner{
                        padding: 0px;
                    }
                    img{
                        width: 45px;
                    }
                    .text{
                        padding-left: 1em;
                        font-size: 13px;
                        h5{
                            font-size: .9em;
                        }
                    }
                }
            }
        }
        .title{
            padding: 20px;
            font-size: 1em;
            font-weight: 600;
            line-height: 1.05;
            letter-spacing: .05em;
            text-transform: uppercase;
        }
        .divider{
            height: 1px;
            display: block;
            background-color: rgba(0,0,0,0.1);
            margin: 20px 0 0 0;
            width: 100%;
            max-width: 100%;
        }
        .product-list{
            font-size: 14px;
            font-weight: bold;
            border: 0px solid #ddd;
            border-radius: 0px;
            padding: 0;
            background-color: #fff;
            .product-item.old{
                background-color: #f8f8f8;
            }
            .product-item + .product-item{
                border-top: 1px solid #ececec;
            }
            .product-item{
                list-style: none;
                padding: 15px 10px 15px 90px;
                min-height: 80px;
                position: relative;
                overflow: hidden;
                vertical-align: top;
                line-height: 1.33;
                font-size: .9em;
                a{
                    text-decoration: none;
                    color: #000000;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    height: 1.3em;
                    margin-bottom: 5px;
                }
                img{
                    top: 10px;
                    position: absolute;
                    left: 20px;
                    width: 60px;
                    height: 60px;
                    margin-bottom: 5px;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
                span.amount{
                    white-space: nowrap;
                    color: #000;
                    font-size: .9;
                }
                span.symbol{
                    font-size: .75em;
                    vertical-align: top;
                    display: inline-block;
                    margin-top: 0.05em;
                }
                del .amount{
                    opacity: .6;
                    font-weight: normal;
                    margin-right: 0.3em;
                }
                ins .amount{
                    font-weight: bold;
                }
            }
        }
    }
}