.rrLjRoGZLM {
    padding-left: 30px;
    padding-right: 15px;
    flex-basis: 25%;
    max-width: 25%;
    @media (max-width: 1200px) {
        display: none;
    }
    .dtznvYodyS {
        background-color: #fff;
        padding: 20px 0 0 0;
        margin-bottom: 1.5em;
        border: 1px solid #eee;
        .KKUFoEEFel {
            display: flex;
            flex-direction: column;
            padding-left: 30px;
            padding-right: 30px;
            .wQefmMiTFV {
                flex-basis: 100%;
                max-width: 100%;
                border-bottom: 1px solid #eee;
                padding: 15px 0;
                .vGqVzkgpTi{
                    display: flex;
                    flex-flow: row wrap;
                    text-align: left;
                    font-size: .8em;
                    .zLsfIMQOzm {
                        width: 45px;
                        padding-top: 0.2em;
                        flex: 0 0 auto;
                        display: block;
                    }
                    .puBgqjEAjz {
                        padding-left: 1em;
                        flex: 1 1 0px;
                        h5{
                            font-family: "Lora", sans-serif;
                            font-size: 12.8px;
                        }
                        h5:last-child{
                            font-weight: 300 !important;
                            margin-bottom: unset;
                        }
                    }
                }
            }
        }
        .NBXdwZMGrB{
            padding: 20px;
            font-size: 1em;
            font-weight: 600;
            line-height: 1.05;
            letter-spacing: .05em;
            text-transform: uppercase;
        }
        .iiUjyeMiHH{
            height: 1px;
            display: block;
            background-color: rgba(0,0,0,0.1);
            margin: 20px 0 0 0;
            width: 100%;
            max-width: 100%;
        }
        .OtZNsKfLuk {
            font-size: 14px;
            font-weight: bold;
            border: 0px solid #ddd;
            border-radius: 0px;
            padding: 0;
            background-color: #fff;
            .kJVLAcifmh.vrekQcFmbc{
                background-color: #f8f8f8;
            }
            .kJVLAcifmh + .kJVLAcifmh{
                border-top: 1px solid #ececec;
            }
            .kJVLAcifmh{
                padding: 15px 10px 15px 90px;
                min-height: 80px;
                position: relative;
                overflow: hidden;
                vertical-align: top;
                line-height: 1.33;
                &:hover  .RnAdyGWKeQ,
                &:hover  .amount{
                    color: #e32124;
                }
                .RnAdyGWKeQ{
                    text-decoration: none;
                    color: #000000;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    height: 1.3em;
                    margin-bottom: 5px;
                    img{
                        top: 10px;
                        position: absolute;
                        left: 20px;
                        width: 60px;
                        height: 60px;
                        margin-bottom: 5px;
                        object-fit: cover;
                        object-position: 50% 50%;
                    }
                }
                div{
                    display: inline-block;
                }
                .uRqfQArYaM {
                    white-space: nowrap;
                    color: #000;
                    line-height: 1.33;
                }
                .AnvRoGTgoT{
                    opacity: .6;
                    font-weight: normal;
                    margin-right: 0.5em;
                    text-decoration: line-through;
                }
            }
        }
    }
}