.fLQhqngIwv{
    cursor: pointer;
    display: inline-block;
    min-width: 2.5em;
    margin-left: 0.12em;
    margin-right: 0.12em;
    line-height: 2.19em;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid currentColor;
    background-color: transparent;
    border-radius: 100% !important;
    color: currentColor;
    opacity: 0;
    transform: translateY(30%);
    transition: color .3s, opacity .3s, transform .3s;
    &.IHlTiwtFLM{
        opacity: 1;
        transform: translateY(0);
    }
    .YdAQQzHFwK{
        vertical-align: middle;
        line-height: 1.2;
        width: 18px;
        top: -1.5px;
        position: relative;
    }
    &:hover{
        border-color: #e32124;
        background-color: #e32124;
    }
    &:hover .YdAQQzHFwK{
        filter: brightness(0) invert(1);
    }
}