.slick-slider {
    &:hover .CXvKRWhaHx {
        display: block;
    }
    .slick-prev,
    .slick-next {
        z-index: 1;
        &::before {
            content: '';
        }
    }
    .slick-next {
        right: 3% !important;
        animation: hoverSlider .3s;

    }
    .slick-prev {
        left: 3% !important;
        animation: hoverSlider .3s;
    }
    .CXvKRWhaHx {
        display: none;
        img {
            width: 36px;
        }
        &:hover{
            filter: invert(21%) sepia(34%) saturate(4797%) hue-rotate(338deg) brightness(110%) contrast(119%);
            animation: hoverArrowBtn .5s;
        }
    }
}
@keyframes hoverArrowBtn {
    0%{ opacity: .1; }
    50%{ opacity: .5; }
    100%{ opacity: 1;}
}
@keyframes hoverSlider {
    0%{ opacity: 0; }
    50%{ opacity: .5; }
    100%{ opacity: 1; }
}