.slick-slider {
    &:hover .CXvKRWhaHx {
        display: block;
    }
    .slick-prev,
    .slick-next {
        z-index: 1;
        &::before {
            content: '';
        }
    }
    .slick-next {
        right: 3% !important;
    }
    .slick-prev {
        left: 3% !important;
    }
    .CXvKRWhaHx {
        display: none;
        img {
            width: 20px;
        }
    }
}